@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    font-family: Poppins;
}

body {
    padding: 100px;
}

.container-fluid h1 {
    text-align: center;
    color: #463C74;
    margin-bottom: 50px;
    font-size: 40px;
}

.left_pd {
    padding-left: 30px;
}

.dashboard_container {
    padding: 50px 100px;
    background-color: #FBF4E2;
    border-radius: 10px;
    margin-bottom: 70px;
}

.dashboard_container h1 {
    text-align: center;
    color: #463C74;
    margin-bottom: 50px;
    font-size: 40px;
}

.profile_container {
    width: 100%;
    height: 320px;
    text-align: center;
    padding: 5px;
}

.profile_pic, .favebook_pic {
    height: 90%;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.username p {
    font-size: 25px;
}

.profile_details {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.profile_details p {
    margin-bottom: 0;
}

.numbers {
    color: #ffffff;
    font-size: 20px;
}

.txt {
    font-size: 15px;
    opacity: 90%;
}

.rectangle {
    background-color: #CFE084;
    border-radius: 10px;
    height: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.mybookshelves {
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 0;
}

.fave_genres {
    margin-bottom: 0;
}

.genres {
    font-size: 15px;
    opacity: 50%;
}

.fave_book_container {
    width: 100%;
    height: 320px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

.myfavebooks {
    text-align: center;
    margin-bottom: 5px;
}

.justify_right {
    text-align: right;
}

.justify_left {
    text-align: left;
}

.review_container {
    background-color: #B4D51E;
    padding: 20px;
    width: 20%;
    border-radius: 10px;
}

.dashboard .rf_margin {
    margin-bottom: 20px;
}

.recent_reviews {
    padding: 10px;
    margin-bottom: 50px;
}

.recent_reviews h1{
    text-align: left;
    color: #463C74;
    font-size: 30px;
    margin-bottom: 30px;
}

.reviews {
    text-align: center;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: #B4D51E;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.reviews .name {
    font-size: 20px;
}

.reviews .text {
    font-size: 15px;
}

.reviewed_books {
    text-align: left;
}

.reviewed_books h1{
    text-align: left;
    color: #463C74;
    font-size: 30px;
    margin-bottom: 30px;
}

.books_container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    height: 500px;
}

.img_container {
    width: 100%;
    height: 320px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
}

.svg {
    height: 20px;
    width: 20px;
}

.book_title {
    font-size: 20px;
    margin-bottom: 0;
}

.author {
    font-size: 15px;
    opacity: 50%;
}

.star_container {
    margin-bottom: 20px;
}

.date {
    font-size: 12px;
    opacity: 50%;
}
