@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    font-family: Poppins;
}

body {
    padding: 100px;
}

.dashboard_container {
    padding: 50px;
    background-color: #FBF4E2;
    border-radius: 30px;
    margin-bottom: 70px;
    height: 100%;
    width: auto;
}

.login{
    font-size: 30px;
}