* {
    font-family: "Merriweather", Helvetica;  
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    height: 100vh;
    overflow: hidden;
}

.dashboard_container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    padding: 20px;
    padding-top: 5%;
    background-color: #FBF4E2;
    border-radius: 30px;
    height: auto;
    width: 70%;
}

.login {
    font-size: 1.2rem;
    color: #463C74;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 20px;
}

.sign {
    font-size: .8rem;
    color: #111111;
    text-align: center;
}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input_container {
    display: flex;
    align-items: center;
    width: 75%;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 10px;
    background-color: white;
    border: none;
}

.icon {
    margin-right: 30px;
    margin-left: 10px;
    color: #1a1a1a;
}

.outlined-icon {
    color: transparent;
    -webkit-text-stroke: 1px black;
}

.input_field {
    flex: 1;
    border: none;
    outline: none;
    font-size: .7rem;
    color: #555;
}

.input_field::placeholder {
    color: #aaa;
}

.toggle_password {
    color: #1a1a1a;
    cursor: pointer;
    margin-right: 10px;
    pointer-events: all;
}

.login_button {
    width: 140px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: #B4D51E;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 30px;
    font-size: .7rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login_button:hover {
    background-color: #d1f728;
}

.img-fluid{
    width: 190px;
    height: auto; /* To keep aspect ratio */
    margin-top: -170px;
    margin-bottom: -170px;
    margin-left: -25px;
}

.login1 {
    text-align: center;
    font-size: .7rem;
}

.acc{
    font-size: .7rem;
    font-family: Poppins;
}

.social-icons i {
    color: #000000;
    font-size: 1rem;
    align-items: center;
    margin-right: -20px;
}

.social-icons i:hover{
    color: #295a00;
}

.x-logo{
    width: 1.2rem;
    height: auto;
    margin-left: -5px;
    margin-top: -2px;
}