@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    font-family: "Merriweather", Helvetica; 
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #265073!important;
    margin-top: 20px;
    margin-bottom: 20px;
}

main {
    margin: 50px 20px;
}

p {
    color: #265073!important;
}

.container {
    max-width: 650px!important;
    margin: 0 auto;
    padding: 60px;
    border: 2px solid #FBF4E2;
    background-color: #FBF4E2;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    position: relative;
}

.contact-box {
    text-align: left;
    margin-bottom: 20px;
    border-radius: 20px;
}

.contact-box p {
    color: #333;
    font-size: 1.1em;
    margin-bottom: 30px;
}

label {
    font-weight: 500;
    font-size: 1em;
    color: #000000;
}

.text{
    font-size: .7rem;
}

textarea {
    font-size: 0.9em;
    width: 100%;
    resize: none;
    padding: 10px 15px;
    border: 1px solid #FBF4E2;
    border-radius: 10px;
}

.message-form {
    text-align: left;
}

.btn-primary{
    font-size: .7rem;
    padding: 10px;
}

button {
    background-color: #265073!important;
    color: #FFF;
    border: none;
    width: 170px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #01345e!important;
}

.form-fields {
    position: relative;
    z-index: 1;
    font-size: .8em;
    letter-spacing: .4px;
}

.contact-image {
    position: absolute;
    bottom: -6px; 
    right: 0px;
    width: 200px;
    height: auto;
    z-index: 0; 
}