* {
    font-family: "Merriweather", Helvetica;
}

main{
    padding: 30px 0px;
}

.left_pd {
    padding-left: 20px;
}

.dashboard_container {
    padding: 20px;
    background-color: #FBF4E2;
    border-radius: 30px;
    width: 80%;
    height: 360px;
    margin: 15px auto 50px auto;
}

.dashboard_container h1 {
    text-align: center;
    color: #463C74;
    margin-bottom: 50px;
    font-size: 20px;
}

.profile_container {
    width: 100%;
    height: 70%;
    text-align: center;
    padding: 5px;
    padding-left: 30px;
}

.profile_pic,
.favebook_pic {
    height: 100%;
    margin-bottom: 10px;
    border-radius: 30px;
    overflow: hidden;
}

.dashboard_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.username p {
    font-size: 20px;
}

.profile_details {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.profile_details p {
    margin-bottom: 0;
}

.register_date {
    font-size: 15px;
    margin-bottom: 20px;
}

.numbers {
    color: #ffffff;
    font-size: 15px;
}

.txt {
    font-size: 12px;
    opacity: 90%;
}

.rectangle {
    background-color: #CFE084;
    border-radius: 30px;
    height: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.mybookshelves {
    font-size: 15px;
    margin-left: 37px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.fave_genres {
    margin-bottom: 0;
    font-size: 15px;
}

.genres {
    font-size: 12px;
    opacity: 50%;
}

.fave_book_container {
    width: 80%;
    height: 95%;
    text-align: center;
    border-radius: 30px;
    overflow: hidden;
    margin: 0 auto;
}

.myfavebooks {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5px;
}

.justify_right {
    text-align: right;
}

.justify_left {
    text-align: left;
}

.review_container {
    background-color: #B4D51E;
    padding: 20px;
    width: 20%;
    border-radius: 10px;
}

.dashboard .rf_margin {
    margin-bottom: 20px;
}

.recent_reviews {
    padding: 10px;
    margin-bottom: 50px;
}

/* .recent_reviews h1 {
    text-align: left;
    color: #463C74;
    font-size: 30px;
    margin-bottom: 30px;
} */

.reviews {
    height: 120px;
    text-align: center;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: #B4D51E;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    overflow-x: hidden;
}

.reviews .name {
    font-size: 20px;
}

.reviews .text {
    font-size: 15px;
}

.reviewed_books {
    text-align: left;
}

.reviewed_books h1 {
    text-align: left;
    color: #463C74;
    font-size: 30px;
    margin-bottom: 30px;
}

.books_container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    height: 400px;
}

.img_container {
    width: 100%;
    height: 65%;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 5px;
}

.svg {
    height: 15px;
    width: 15px;
}

.book_title {
    font-size: 15px;
    margin-bottom: 0;
}

.author {
    font-size: 14px;
    opacity: 50%;
    margin-bottom: 0;
}

.star_container {
    margin-bottom: 10px;
}

.date {
    font-size: 12px;
    opacity: 50%;
}

/* copied */
.popular-now-section {
    margin-top: 230px;
    padding: 0px 130px 0px 130px;
}

h3 {
    color: #463C74;
    font-family: "Meriweather";
    font-weight: 600 !important;


}

.view-all-link {
    color: #828282;
}


.card-img-top {
    padding: 13px 18px 0 18px;
    /* 10px padding around the image */
    width: 100%;
    /* Ensure the image takes up the full width */
    height: 300px;
    /* Fixed height for the image */
    object-fit: cover;
    /* Ensures the image covers the area without distorting aspect ratio */
}



.book-title {
    color: #000;
}

.book-author {
    color: #828282;
    font-size: small;
}

.reader {
    color: #000;
    font-size: small;
    margin-right: 7px;
}

.time {
    color: #b0a0a0;
    font-size: x-small !important;
}


.card {
    height: 100%;
    /* Ensure cards stretch to fill the container */
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.star-rating i {
    color: #FFD700;
    /* Gold color for filled stars */
    font-size: 1.2rem;
}

.star-rating i.bi-star {
    color: #C4C4C4;
    /* Grey color for empty stars */
}

.last-reader {
    display: flex;
    align-items: center;
}

.last-reader img {
    margin-right: 5px;
}