@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    font-family: "Merriweather", Helvetica; 
    box-sizing: border-box;
}

/* h1 {
    text-align: center;
    color: #265073!important;
    margin-top: 20px;
    margin-bottom: 20px;
} */

main {
    margin: 50px 20px;
}

.message {
    color: #265073!important;
    font-size: 20px!important;
    font-weight: bolder;
    letter-spacing: 0.9px;
    margin-top: -25px;
}

.contact-container {
    max-width: 600px!important;
    height: 550px;
    margin: -35px auto;
    padding: 60px;
    border: 2px solid #FBF4E2;
    background-color: #FBF4E2;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    position: relative;
}

.contact-box {
    text-align: left;
    margin-bottom: 20px;
    border-radius: 20px;
}

.contact-box p {
    color: #333;
    font-size: 1.1em;
    margin-bottom: 30px;
}

label {
    font-weight: 500;
    font-size: 0.9em;
    color: #000000;
    letter-spacing: 0.5px;
    text-align: right!important;
}

textarea {
    font-size: 0.9em;
    width: 100%;
    resize: none !important;
    padding: 10px 15px;
    border: 1px solid #FBF4E2;
    border-radius: 10px;
    margin-top: -10px;
}

.messageF{
    height: 70px;
}

.message-form {
    text-align: left;
    margin-top: -10px;
}

.sendBtn {
    background-color: #97b31a!important;
    border: none!important;
    font-size: 13px!important;
    letter-spacing: 0.7px;
    color: #FFF;
    padding: 6px 12px 6px!important;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00ff15!important;
    border: none;
}

.form-fields {
    position: relative;
    z-index: 1;
    font-size: 12.5px;
    margin-top: -15px;
    margin-bottom: -10px;
}

.contact-image {
    position: absolute;
    bottom: 0px; 
    right: 0px;
    width: 150px;
    height: auto;
    z-index: 0; 
}
